<main class="main-content container">
  <h2 class="section-title">¿Cómo se juega?</h2>

  <div class="steps-container">
    <div class="step">
      <div class="step-number">1</div>
      <div class="step-content">
        <h3>Elige un partido</h3>
        <p>
          Selecciona entre los próximos encuentros disponibles para apostar.
          Cada partido muestra los equipos, fecha y hora.
        </p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">2</div>
      <div class="step-content">
        <h3>Pronostica el resultado</h3>
        <p>
          Ingresa tu predicción para el marcador final usando los campos de
          número.
        </p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">3</div>
      <div class="step-content">
        <h3>Confirma tu apuesta</h3>
        <p>
          Guarda tu pronóstico antes de que cierre el plazo. ¡No podrás
          modificarlo después!
        </p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">4</div>
      <div class="step-content">
        <h3>Sigue los resultados</h3>
        <p>
          Cuando termine el partido, verás si acertaste y cuántos puntos
          ganaste.
          <li>
            <i class="fas fa-star"></i>
            <strong>Acierto exacto(Resultado):</strong> 5 puntos. Se marcará el
            resultado en verde.
          </li>
          <li>
            <i class="fas fa-star"></i>
            <strong
              >Acierto de ganador(Solamente ganador y no resultado):</strong
            >
            3 puntos. Se marcará el resultado en amarillo.
          </li>
          <li>
            <i class="fas fa-star"></i> <strong>Fallo:</strong> 0 puntos. Se
            marcará el resultado en rojo.
          </li>
        </p>
      </div>
    </div>
  </div>
</main>
